@import '../attendances/attendances.component.scss';

@media print {
  .no-print {
    display: none !important;
  }
  
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  .bg-gradient-to-br,
  .bg-gradient-to-r {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}